/* primary background
HEX #FFFFFF
RGB 255, 255, 255

secondary background
HEX #D2D6EF RGB 210, 214, 239

primary text
HEX #555555 RGB 85, 85, 85

secondary text
HEX #23226C RGB 35, 34, 108

tertiary text
HEX #6290C3 RGB 98, 144, 195 */

body {
  background-color: #FFFFFF;
}

article {
  width: 50rem;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}
section {
  padding: 0.5rem 2rem;
}

.intro, .conclusion {
  background-color: #D2D6EF;
}

h1 {
  text-align: center;
  font-size: 240%;
  color: #23226C;
}

h2 {
  font-size: 180%;
  color: #23226C;
}

p {
  color: #555555;
  line-height: 150%;
  display: block;
  text-align: justify;
  
}

a {
  color: #6290C3;
}

strong {
  color: black;
}

em {
  background-color: #D2D6EF;
  font-style: normal;
}

