* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  padding: 1rem 3rem;
}

.output {
  text-align: center;
  border-collapse: collapse;

  thead > tr {
    font-size: 1.5rem;
    background-color: #eee;
    height: 3rem;
    padding: 2rem 1rem;
  }
  td {
    border-bottom: 1px solid #eee;
    padding: 1rem 3rem;
  }

  &__item {
    &--ontime {
      color: green;
      font-weight: bold;
    }

    &--delayed {
      color: orangered;
      font-weight: bold;
    }
  }
}
