* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

nav {
    background-color: grey;
    flex-direction: column;
    width: 35%;
    height: 75%;
    align-items: center;
    margin-right: 1em;
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
}

main {
    width: 65%;
    height: 75%;
    flex-wrap: wrap;
    align-content: flex-start;
}

footer {
    height: 25%;
    background-color: lightblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 1em 1em;
    flex-direction: column;
}


.flex {
    display: flex;
} 

.stretch {
    height: 100%;
}

.square {
    width: 25%;
    height: 25%;
    background-color: darkblue;
    color: white;
    margin: 1em;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.column:first-of-type {
    width: 25%;
    align-items: flex-start;
}

.columns-wrapper {
    flex-direction: row;
    justify-content: space-around;
}

.column p, .column h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5em 0.5em;
}

.copyright-wrapper {
    color: lightgray;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.7em;
    border-top: 1px solid lightgray;
}

span p, .copyright-wrapper p {
    padding: 0 1em;
}