
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    line-height: 1.5;
}

.flex {
    display: flex;
}

//needs to be either added to all elements or find another way
.content {
    max-width: 50rem;
}

main {
    flex-direction: column;
    align-items: center;
    width: 100vw;    
}

nav {
    background-color: grey;
    width: 100%;
    height: 2rem;
    align-items: center;

    a {
        color: white;
        text-decoration: none;
        padding: 0em 1em;
    }

    a:hover {
        color: lightblue;
    }
}

h2 {
    align-self: center;
    padding: 0.5em;
}

.welcome {
    flex-direction: column;
    color: white;
    padding: 5rem;
    width: 100%;
    align-items: center;
    background-image: url("/img/welcome.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.plot {
    flex-direction: column;

    .wrapper {
        flex-direction: row;

        img {
            width: 35rem;
        }

        .wrapper {
            flex-direction: column;    

            p {
                margin: 1em;
            }
        }
    }
}

.characters {
    flex-direction: column;
    height: 30rem;
    width: 100%;
    justify-content: space-between;
    background-image: url("/img/rey-standing.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .wrapper {
        width: 100%;
        justify-content: center;
        align-items: center;

        img {
            height: 7rem;
            border-radius: 50%;
            flex-shrink: 0;
            padding: 10px 0;
        }

        img:first-of-type, img:last-of-type {
            height: 5rem;
        }

        img:nth-child(even) {
            height: 6rem;
        }

        img:nth-child(4) {
            height: 8rem;
        }
    }
}

.ratings {
    flex-direction: column;
    width: 100%;

    .wrapper {
        flex-direction: row;
        justify-content: space-around;
        height: 90%;

        .rating {
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 25rem;

            .bar {
                width: 10rem;
                background-color: grey;
            }
        }

        #imdb {
           height: 75%;
        }

        #rotten {
            height: 90%;
        }

        #metacritic {
            height: 95%;
        }
    }

}

.cast {
    flex-direction: column;
    width: 100%;

    .wrapper {
        flex-direction: row;

        img {
            width: 35rem;
        }

        .wrapper {
            flex-direction: column;

            p {
                margin: 0.5rem 1em;
            }

            p:first-of-type {
                font-weight: bold;
            }
        }
    } 

    .actors {
        flex-direction: row;
        justify-content: space-around;

        .actor {
            position: relative;
            width: 14%;

            img {
                display:block;
                width: 100%;
            }

            p {
                position: absolute;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.308);
                color: white;
                width: 100%;
                text-align: center;
                padding: 0.3em 0;
            }

        }

    }


}