* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
}

.app {
  min-width: inherit;
  min-height: inherit;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}