
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    background-color: rgb(49, 49, 49);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

main {
    background-image: url("/img/got-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 90%;

    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.flex {
    display: flex;
}

.upper, .lower {
    padding: 3rem;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.upper {
    align-self: flex-end;
    flex-direction: column;
    z-index: 2;
}

.lower {
    padding-bottom: 4rem;
    font-weight: bold;
    z-index: 2;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: right;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0, 0.6);
}