@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import "variables";
@import "icons";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
}

.sidebar {
  position: fixed;
  
  width: 16rem;
  height: 100vh;
  padding: 1rem 2rem;

  background-color: $color-bg-primary;  
  
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-align: center;

  &__logo {
    background-image: url('/img/vibecast-logo.svg');
    background-size: contain;
    width: 12rem;
    height: 12rem;
    margin-bottom: 2rem;
  }

  &__nav {
    text-transform: uppercase; 
    color: $color-text-sidebar;
    margin-bottom: 2rem;

    a {
      display: block;
      padding: 0.3rem 0;
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: $color-text-sidebar;
    }
  }

  &__promo-text {
    color: white;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &__name {
    color: $color-text-sidebar;
  }

  &__twitter {
    color: $color-text-sidebar;
    margin-bottom: 2rem;

    a {
      display: block;
      padding: 0.3rem 0;
      text-decoration: none;
      color: $color-text-sidebar;
    }

    a:hover {
      color: white;
    }
  }

  &__btn {
    padding: 0.5rem 1rem;
    border-radius: 5%;
    outline: none;
    border: none;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 1rem;
  }

  &__btn--primary {
    background-color: $color-btn-primary;

    p::before {
      content: "";
      background-image: url("/img/bell.svg");
      display: inline-block;
      width: 1rem;
      height: 1rem;
      align-self: center;
      margin-right: 1rem;
      transform: translateY(10%);  
    }
  }

  &__btn--primary:hover {
    background-color: rgb(42, 91, 182);
  }
}

.podcast {
  margin-left: 16rem;
}

.podcast-heading {
  display: flex;
  align-items: center;
  
  height: 5rem;
  padding: 1rem 2.5rem;
  
  background-color: $color-bg-secondary;

  &__logo {
    img {
      width: 3rem;
      height: 3rem;
    }

    margin-right: 1rem;
  }

  &__title {
    padding-bottom: 0.5rem;
    
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
  }
}

.episode {
  border-bottom: 1px solid $color-bg-secondary;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding: 1rem 1rem;

  &__desc {
    display: flex;
    align-items: center;
  }

  img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }

  &__title::before {
    content: "WITH ";
  }

  &__airing {
    display: flex;
    color: $color-text-secondary;
    align-items: flex-end;
  }

  &__num {
    font-size: 2.5rem;
    font-weight: bold;
    color: $color-text-secondary;
    margin-right: 1rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__date {
    margin-right: 1rem;
  }

  &__date::before {
    content: "";
    display: inline-block;
    background: url("/img/calendar.svg") no-repeat;
    opacity: 0.5;
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    box-sizing: border-box;
  }

  &__time::before {
    content: "";
    display: inline-block;
    background: url("/img/wall-clock.svg") no-repeat;
    opacity: 0.5;
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
  }
}

