
.toggle {
  width: 20%;
  height: 80%;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--unknown {
    background-image: url('img/question.svg');
  }

  &--done {
    background-image: url('img/check.svg')
  }
}